<div class="data-menu">
  <div class="content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">数据列表</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li *ngFor="let item of dataList" class="list-group-item">
            <a routerLink="/anlize/{{item.fileName}}"
               target="_blank">{{item.fileName}}</a>
            <span class="badge" (click)="delete(item.fileName)"
                  style="background: red;cursor:pointer">X</span>
          </li>

        </ul>
        <br>
        <button class="btn btn-default" (click)="showLogin()">Show Login</button>
        <hr>

        <p class="bg-warning">1. Uploaded file must be in excel format,
          this system has no format validations.
        </p>
        <p class="bg-warning">2. The program will only read the first two columns of the first sheet in excel
        </p>
        <p class="bg-warning">3. The first column is numbers, the second column is an English text
        </p>
        <p class="bg-warning">4. After adding a file ,its name will be added to the list
        </p>
        <div class="row">
          <div class="col col-md-6">
            <input type="file" #myfile name="aa" (change)="uploadFile(myfile.files[0])">
          </div>

        </div>


      </div>
    </div>
  </div>
</div>



